body {
    /* text-align: center; */
    background: url("../images/bananas.png");
    font-family: 'Inconsolata', monospace;
}

/* #poem {
    display: flex;
    justify-content: center;
    width: 30vw;
    background: gray;
} */
.poem {
    /* display: flex;
    justify-content: center; */
    width: 35vw;
    background: url("../images/folk-pattern-black.png");
    color: white;
    border-radius: 25px;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
}

.poemText{
    color: white;
}

.container {
    /* width: 35vw; */
}